manifest {
    name            = 'RNA Alignment'
    author          = """Guanqiao Feng"""
    homePage        = 'https://github.com/icgc-argo-workflows/rnaaln'
    description     = """ICGC-ARGO analysis workflow for RNA alignment"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0dev'
    doi             = ''
}

params {
    outdir = "output"
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false
    test_data_base = 'tests/data/qa'

    input = "${test_data_base}/samplesheets/rnaaln_samplesheet.csv"
}

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: params.outdir ? true : false,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// Enable locally defined binary scripts for modules
nextflow.enable.moduleBinaries = true

includeConfig '../../../config/nextflow.config'