manifest {
    name            = 'Variant Call QC'
    author          = 'Edmund Su,Linda Xiang,'
    homePage        = 'https://github.com/icgc-argo-workflows/vcfqc'
    description     = 'ICGC ARGO Variant Call QC Workflow for DNA/RNA Sequencing Reads'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.1'
    version         = '1.0dev'
    doi             = ''
}

params {
    outdir = "output"
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false
    test_data_base = 'tests/data/qa'
    
    analysis = "${params.test_data_base}/015f5af4-58e3-40a2-9f5a-f458e320a27b.analysis.json"
    pipeline_yml = "${params.test_data_base}/vcfqc.software_versions.yml"
    qc_files = "${params.test_data_base}/SA610229.bcftools_stats.txt"
    multiqc = "${params.test_data_base}/SA610229.vcfqc.argo_metrics.json"
    genome_build = "GRCh38_hla_decoy_ebv"
}

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: params.outdir ? true : false,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// Enable locally defined binary scripts for modules
nextflow.enable.moduleBinaries = true