manifest {
    name            = 'Pre Alignment QC'
    author          = 'Linda Xiang, Edmund Su'
    homePage        = 'https://github.com/icgc-argo-workflows/prealnqc'
    description     = 'ICGC ARGO Pre Alignment QC Workflow for DNA/RNA Sequencing Reads'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.1'
    version         = '1.0dev'
    doi             = ''
}

params {
    outdir = "output"
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false
    test_data_base = 'tests/data/qa'
    
    analysis = "${params.test_data_base}/875ef550-e536-4456-9ef5-50e5362456df.analysis.json"
    pipeline_yml = "${params.test_data_base}/software_versions.prealn.yml"
    qc_files = "${params.test_data_base}/qc_files/prealn/SA624380*"
    multiqc = "${params.test_data_base}/SA624380.argo_metrics.json"
    genome_build = "GRCh38_hla_decoy_ebv"
}

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: params.outdir ? true : false,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// Enable locally defined binary scripts for modules
nextflow.enable.moduleBinaries = true