/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run icgc-argo-workflows/prealignmentqc -profile debug_qa,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Debug in QA profile'
    config_profile_description = 'Set QA profile to check pipeline function'

    // Limit resources so that this can run the test on local machine
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '2.h'

    // data staging params
    song_url                   = "https://song.rdpc-qa.cancercollaboratory.org"
    score_url                  = "https://score.rdpc-qa.cancercollaboratory.org"
    song_url_download          = "https://submission-song.rdpc-qa.cancercollaboratory.org"
    score_url_download         = "https://submission-score.rdpc-qa.cancercollaboratory.org"
    song_url_upload            = null
    score_url_upload           = null

}
