// Base directory for test data in RDPC QA
// Should be ="../data"

params {
  test_data {
    'rdpc_qa' {
      study_id = "TEST-PR"
      analysis_id = "08e7c5b1-b3af-4e20-a7c5-b1b3af2e206b"
      analysis_id_unpublished = "0825c028-20b0-4924-a5c0-2820b0992418"
      analysis_id_download = "b953d8e4-41d2-4334-93d8-e441d213346d"
      analysis_id_published = "e3ae259f-753b-402b-ae25-9f753be02b23"
      analysis = "${params.test_data_base}/08e7c5b1-b3af-4e20-a7c5-b1b3af2e206b"
      upload = "${params.test_data_base}/SA610228.67.20200319.wxs.grch38.cram"
      upload_index = "${params.test_data_base}/SA610228.67.20200319.wxs.grch38.cram.crai"
      payload = "${params.test_data_base}/9940db0f-c100-496a-80db-0fc100d96ac1.analysis.json"
      manifest = "${params.test_data_base}/manifest.txt"
      seq_exp_analysis_bam = "${params.test_data_base}/ee86b5ef-e0bb-40d8-86b5-efe0bbc0d8c1.bam-1.sequencing_experiment.json"
      bam = "${params.test_data_base}/test_rg_3.v2.bam"
      seq_exp_analysis_fastq = "${params.test_data_base}/875ef550-e536-4456-9ef5-50e5362456df.sequencing_experiment.json"
      fastq = "${params.test_data_base}/*_r*.fq.gz"
      aln_analysis = "${params.test_data_base}/85e2d6bd-15b8-4e80-a2d6-bd15b8ee8071"
      cram = "${params.test_data_base}/TEST-PR.DO250122.SA610149.wgs.20210708.aln.cram"
      crai = "${params.test_data_base}/TEST-PR.DO250122.SA610149.wgs.20210708.aln.cram.crai"
      vcf_analysis = "${params.test_data_base}/3414534a-47a4-492d-9453-4a47a4192d6d.sanger-wgs.snv.json"
      vcf = "${params.test_data_base}/TEST-PR.DO250183.SA610229.wgs.20200513.sanger-wgs.somatic.snv.vcf.gz"
      tbi = "${params.test_data_base}/TEST-PR.DO250183.SA610229.wgs.20200513.sanger-wgs.somatic.snv.vcf.gz.tbi"
      study_id_stage = "TCRB-CA"
      analysis_id_stage = "c62cee87-04ae-4988-acee-8704aec988d4"
    }
  }
}