manifest {
    name = 'Pre Alignment QC'
    homePage = 'https://github.com/icgc-argo-workflows/argo-modules'
    description = 'ARGO Generic Modules to be shared across workflows for RDPC processing'
    nextflowVersion = '>=22.10.0'
}

params {
    outdir = "output"
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false
    test_data_base = 'tests/data/qa'

    qc_files = "${params.test_data_base}/qc_files/prealn/*"
    multiqc = "${params.test_data_base}/multiqc_data/prealn"
}

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: params.outdir ? true : false,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// Enable locally defined binary scripts for modules
nextflow.enable.moduleBinaries = true