manifest {
    name            = 'DNA Seq Alignment'
    author          = 'Edmund Su'
    homePage        = 'https://github.com/icgc-argo-workflows/dnaaln'
    description     = 'ICGC-ARGO analysis workflow for DNA Seq Alignment'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.1'
    version         = '1.0dev'
    doi             = ''
}

params {
    outdir = "output"
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false
    test_data_base = 'tests/data/qa'
    
    analysis = "${params.test_data_base}/026e7dbd-8a7b-4ee1-ae7d-bd8a7b0ee120.analysis.json"
    pipeline_yml = "${params.test_data_base}/software.yml"
    aln_files = "${params.test_data_base}/TEST-QA.DO263089.SA624380.csort.markdup.cram*"
    genome_build = "GRCh38_Verily_v1"
}

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: params.outdir ? true : false,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// Enable locally defined binary scripts for modules
nextflow.enable.moduleBinaries = true