manifest {
    name            = 'DNA Alignment'
    author          = 'Edmund Su'
    homePage        = 'https://github.com/icgc-argo-workflows/dnaaln'
    description     = 'ICGC-ARGO analysis workflow for DNA alignment'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0dev'
    doi             = ''
}

params {
    outdir = "output"
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false
    test_data_base = 'tests/data/qa'
    
    analysis = "${params.test_data_base}/0187b82f-1693-470a-87b8-2f1693f70ac9.analysis.json"
    pipeline_yml = "${params.test_data_base}/software_versions.yml"
    aln_files = "${params.test_data_base}/qc_files/SA622743*"
}

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: params.outdir ? true : false,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// Enable locally defined binary scripts for modules
nextflow.enable.moduleBinaries = true