manifest {
    name            = 'RNA Alignment'
    author          = 'Guanqiao Feng'
    homePage        = 'https://github.com/icgc-argo-workflows/rnaaln'
    description     = 'ICGC-ARGO analysis workflow for RNA alignment'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.10.1'
    version         = '1.0dev'
    doi             = ''
}

params {
    outdir = "output"
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false
    test_data_base = 'tests/data/qa'
    
    analysis = "${params.test_data_base}/875ef550-e536-4456-9ef5-50e5362456df.analysis.json"
    pipeline_yml = "${params.test_data_base}/software_versions.hisat2.align.yml"
    aln_files = "${params.test_data_base}/TCRB-CA.DO262498.SA622799.rna-seq.genomeAlign.20240813.aln.cram*"
    genome_build = "GRCh38_Verily_v1"
    genome_annotation = "GENCODE v40"
}

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: params.outdir ? true : false,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// Enable locally defined binary scripts for modules
nextflow.enable.moduleBinaries = true